/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

/* グローバル変数 */
:root {
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
}

.navbar {
    background-color: #3E5766 !important
}

.body {
    color: var(--body) !important;
    background-color: #F3F0E9;
}

a {
    color: white;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
    color: #B2BCC2;
    font-weight: 3W00;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:active {
    outline: none;
}

button:focus {
    outline: none;
}

.navbar-light .navbar-toggler .navbar-toggler-icon {
    border-color: #B2BCC2;
}

/* ハンバーガーの色変更 */
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(178,188,188)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* 384E5C */

.offcanvas {
    background-color: #384E5C;
}

.offcanvas-title {
    color: var(--body);
}

.nav-text {
    color: var(--body);
}

.nav-color {
    color: white;
}

/* .cat-item:hover {
    
} */

input[name=tab-radio]:checked+.link_tab-label {
    background-color: #2D3E4A;
    color: white;
}

.link_tab-label {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    letter-spacing: .1rem;
    color: white;
    display: inline-block;
    padding: 12px 0;
    width: 50%;
    margin: 0;
    text-align: center;
    background-color: #384E5C;
}

.link_tab-content {
    display: block;
}

.link_tab-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: .04rem;
    color: rgba(255, 255, 255, .8);
    margin: 15px 25px;
    padding: 10px 0;
    position: relative;
}

.link_tab-title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: var(--sub-color);
}

/* ラジオボタンの●を表示しない */
input[name=tab-radio],
.link_tab-content {
    display: none;
}

.link_tab-content {
    background-color: #2D3E4A;
    padding: 30px 0;
    height: 100%;
    color: black;
    font-size: 1.3rem;
    letter-spacing: .02rem;
}

#tab-1:checked~.link_tab-1-content,
#tab-2:checked~.link_tab-2-content {
    display: block;
}

/*  */


.wrapper {
    background-color: #E9E5DE;
}

.navbar {
    position: unset;
}

.sub-content {
    display: block;
    background-color: #F3F0E9;
}

.sub-content ul {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-align: center;
}

.sub-content li {
    display: inline-block;
}

.sub-content li a {
    color: #2D3E4A;
}

.sub-content li a:hover,
.sub-content li a:active {
    background-color: #fff;
    transition: all 0.35s ease;
}

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

img {
    width: 100%;
    height: auto;
}

.url {
    font-size: 10px;
}

.nav_mass {
    display: block;
}

.pagination {}

.ad-contents img {
    text-align: center;
    margin-bottom: 40px;
    padding: 100 100px;
}

.single_group--entry_post {
    display: flex;
}

.single_group--entry_left {
    width: 120px;
    height: 79px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}

.single_group--entry_right {
    flex: 1;
    position: relative;
    background-color: #f3f0e9;
    transition: all .2s ease-in;
    font-size: 10px;
    color: black;
}

.single_group--title a {
    color: black;
}

.btm {
    background-color: var(--main-color);
    display: block;
    transition: .4s ease-in-out;
}

.btm_sns a {
    text-align: center;
    color: black;
}

.btm_sns {
    position: relative;
    text-align: center;
}

.btm_sns ul {
    font-size: 35px;
}

.btm_sns li {
    margin: 0 7px;
}

.footer {
    background-color: #434343;
}

.about li {
    margin: 0 10px;
    font-size: 14px;
}

.btm_hl {
    font-size: 11px;
    text-align: center;
    letter-spacing: .2rem;
    padding: 0;
    color: #bbb;
}

.btm_copy {
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: .12em;
    padding: 15px 0 25px;
    color: #bbb;
}

.cat-item {
    font-size: 13px;
}