@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sora:wght@100;500;700&display=swap');

:root {
    --background: #2C2C2C;
}

body {
    background-color: var(--background);
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 24px;
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

.card {
    display: flex;
    /* 表示されている領域から単一業に押し込むか折り返すかを指定している*/
    /* wrapは折り返す */
    flex-wrap: wrap;
    border-radius: 20px 20px 16px 16px;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
    /* clamp関数 */
    /* clampp(最小値, 推奨値, 最大値)指定し推奨値に設定する値によるかもだが流動的に画面幅に応じて変化する */
    max-width: clamp(620px, 70vh, 820px);
    min-width: 260px;
    min-height: 280px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.background {
    /* 値を 3 つ指定: flex-grow | flex-shrink | flex-basis */
    /* flex-growはdisplay:flex時にwidthで指定した値が親要素よりも小さく余白ができてしまう際に余白を埋めるための比率を表している */
    /* 余白がwidth=60%である際に1を指定するとほかの要素が0指定の場合は60%が要素のwidthに足される */
    /* flex-shrinkは子要素が親要素よりも幅が大きい際に要素を縮めるがその際の縮尺度を指定している */
    /* flex-basisは「flex-grow」「flex-basis」などの基準の値になりwidthと併用した際はflex-basisの値が優先される  */
    flex: 1 1 250px;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    flex: 3 1 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}

.content > h2 {
    font-size: clamp(1.3rem, 2.5vw, 1.8rem);
    font-weight: 700;
    margin-bottom: clamp(0.35rem, 2vw, 0.55rem);
}

.content > p {
    font-size: clamp(1.1rem, 1.75vw, 1.35rem);
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 22px;
}

.social-icons {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-top: auto;
}

.social-icons li {
    list-style: none;
}

.social-icons li a {
    position: relative;
    display: block;
    display: grid;
    place-items: center;
    font-weight: bold;
    /* transition: 2.2s; */
}

.social-icons li a svg {
    /* strokeは要素のアウトラインの色を指定できるプロパティ  */
    stroke: var(--background);
    width: clamp(1.6rem, 2.3vw, 2rem);
    height: clamp(1.6rem, 2.3vw, 2rem);
    stroke-width: 2px;
}

.social-icons li a:hover svg {
    transition: 2.2s;
    transform: rotateX(360deg);
}

