@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    margin: 10px 20px;
    align-items: center;
}

.nav {
    padding: 10px 20px;
    font-size: 10px;
    font-weight: 550;
}

/* Graphpaper title */
.logo {
    font-weight: 700;
    font-size: 1.2rem;
    padding-right: 10px;
}

/* header instagram icon */
.right a {
    padding: 8px 20px;
}

.navbar p {
    text-align: center;
}


.cont-01 {
    /* background-position: center; */
    /* background-size: cover; */
}