@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

.navbar {
    display: flex;  
    justify-content: space-between;
}

.left, .right {
    display: flex;
    margin: 10px 20px;
    align-items: center;
}

.nav {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.nav {
    padding: 10px 20px;
    font-size: 10px;
    font-weight: 550;
    position: relative;
}

.nav span {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Graphpaper title */
.logo {
    font-weight: 700;
    font-size: 1.2rem;
    padding-right: 10px;
}

.bx {
    color: black;
}

time {
    color: rgb(173,177,186);
    font-size: 0.8rem;
}

.article-meta span{
    font-size: 0.9rem;
    margin-right: 10px;
    padding-top: 10px;
}

.article-title a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.mid-section {
    text-align: center;
    margin: 200px 0;
}

.mid-section span {
    margin: 0px 35px 45px 35px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    display: inline-block;
    /* text-decoration: none; */
}

.mid-section span::after {
    /* 疑似要素はcontent=''をつける */
    content: '';
    position: absolute;
    bottom: -10px;
    /* アンダーラインを各メニューの左端に設定 */
    left: 0;
    width: 100%;
    /* アンダーラインの高さ(太さ) */
    height: 1px;
    /* アンダーラインの色 */
    background: #333;
    transform: scale(0, 1);
    /* 真ん中を原点としてアンダーラインを出現させる */
    transform-origin: center top;
    transition: transform .3s;
}

.mid-section span:hover:after {
    transform: scale(.6, 1);
}

.collection {
    margin: 0 30px;
}

