@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

span {
    cursor: pointer;
    font-size: 200px;
    font-weight: 500;
    position: relative;
}

.active::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: 0.3s;
}

.active:hover:after {
    transform: scale(.6, 1);
    
    
}